<div>
    <mat-card class="mat-elevation-z12">
        <mat-card-title style="text-align:center; margin: 10px;">Welcome </mat-card-title>

        <mat-card>
            <mat-card-content>User</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>Connection date</mat-card-content>
        </mat-card>
        <mat-tab-group mat-stretch-tabs dynamicHeight class="example-stretched-tabs">
            <mat-tab label="Login User">
                <ng-template matTabContent>
                    <app-login-with-password>
                    </app-login-with-password>
                </ng-template>
            </mat-tab>
            <mat-tab label="Register User">
                <ng-template matTabContent>
                    <app-register-with-password>
                    </app-register-with-password>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
    <mat-tab-group>
        <mat-tab label=> Login User </mat-tab>
        <mat-tab label=> Register User</mat-tab>
    </mat-tab-group>

</div>