<div class="bg-img">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>My Time Calendar</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>login</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="container">
   
      <img class="back-image" src="../../assets/logoMyTime.png" />
      <div class="content-center">
        
        <div>
          <h1>Make the time your time</h1>

          <h2>
            Spend less time planning and more time doing with a shareable
            calendar that fits to you
          </h2>
        </div>

        <div class="example-button-row">
          <button mat-raised-button color="primary">LOGIN</button>
          <button mat-raised-button color="primary" routerLink="/register">REGISTER</button>
        </div>
      </div>
    </div>
  </div>

